body, {

background-color: #fc03f4;
}
header {
	/*background-color: #ffcce0;*/
	background-color: #fc03f4;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
h1 {


}
#advice {
	background-color: #3b043b;
	overflow: auto;
}
h4 {
	font-size: 25px;
	text-align: center;
}

}
footer {
	background-color: #000000;


	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	clear: both;
}
